{% extends 'base.html' %}

{% block title %}
  Ваши подписки
{% endblock %}

{% block content %}
  {% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    {% include 'includes/posts.html' %} 
    {% if post.group %}   
      <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a><br>
    {% endif %}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
